In [50]:
import pandas as pd

In [51]:
data = pd.read_csv('chicago.csv')

In [52]:
# load data file into a dataframe
df = pd.DataFrame(data)

In [53]:
df.shape

(300000, 9)

In [54]:
df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [55]:
# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

df.head()

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0

In [56]:
# extract hour from the Start Time column to create an hour column
df['Hour'] = df['Start Time'].dt.hour

In [57]:
df.shape

(300000, 10)

In [58]:
df['Month'] = df['Start Time'].dt.month

In [59]:
df.shape

(300000, 11)

In [60]:
# create 'journey' column that concatenates start_station, end_station 
df['Journey'] = df['Start Station'].str.cat(df['End Station'], sep=' to ')

In [61]:
df.columns = [x.strip().replace(' ', '_') for x in df.columns]

In [62]:
df.head()

,Unnamed:_0,Start_Time,End_Time,Trip_Duration,Start_Station,End_Station,User_Type,Gender,Birth_Year,Hour,Month,Journey
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,15,6,Wood St & Hubbard St to Damen Ave & Chicago Ave
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,18,5,Theater on the Lake to Sheffield Ave & Wavelan...
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,8,1,May St & Taylor St to Wood St & Taylor St
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,13,3,Christiana Ave & Lawrence Ave to St. Louis Ave...
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,14,1,Clark St & Randolph St to Desplaines St & Jack...

In [63]:
# find the most common hour (from 0 to 23)
popular_hour = df['Hour'].mode()[0]

In [64]:
print('Popular hour: ', popular_hour)

Popular hour:  17

In [65]:
popular_month = df['Month'].mode()[0]

In [66]:
print('Popular month: ', popular_month)

Popular month:  6

In [67]:
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday',
                    'Saturday', 'Sunday']
index = int(df['Start_Time'].dt.dayofweek.mode())
popular_day = days_of_week[index]

In [68]:
print('Popular day: ', popular_day)

Popular day:  Tuesday

In [69]:
popular_start_station = df['Start_Station'].mode().to_string(index = False)
popular_end_station = df['End_Station'].mode().to_string(index = False)

In [70]:
print('Popular Start Station: ', popular_start_station)
print('Popular End Station: ', popular_end_station)

Popular Start Station:  Streeter Dr & Grand Ave
Popular End Station:  Streeter Dr & Grand Ave