In [1]:
# Importing packages and functions
import pandas as pd
import datetime # operations to parse dates

import calendar
import csv

In [2]:
pd.__version__

'0.23.4'

In [3]:
# supported cities, months, days
city_data = {'chicago': 'chicago.csv',
          'new york': 'new_york_city.csv',
          'washington': 'washington.csv'}
months = {v.lower(): k for k, v in enumerate(calendar.month_name)}
#months = ('january', 'february', 'march', 'april', 'may', 'june')
days = {v.lower(): k for k, v in enumerate(calendar.day_name)}
#days = ('monday','tuesday','wednesday','thursday','friday','saturday','sunday')

In [4]:
#get user input for city
def get_city():
    '''Asks the user for a city and returns the specified filter.
    Args:
        none.
    Returns:
        (str) City filter for the bikeshare data.
    '''
    while True:
        try:
            city = input('Hello! Let\'s explore some US bikeshare data!\nWould you like to see data for Chicago, New York, or Washington?\n')
        except ValueError:
            print('That is not a valid answer. Please try again.')
        if city.lower() in city_data.keys():
            return city.lower()
        else:
            print('That is not a valid answer. Please try again.')

In [5]:
# 1) pick a city   
city = get_city()
print('Great! We\'ll use %s.' % city)

Hello! Let's explore some US bikeshare data!
Would you like to see data for Chicago, New York, or Washington?
chicago
Great! We'll use chicago.

In [6]:
def get_raw_city_data(city):
    '''Read CSV (comma-separated) file into DataFrame
    Args:
        city filter from get_city()
    Returns:
        raw_city_data df for the specified city's bikeshare data.
    '''
    raw_city_data = pd.read_csv(city_data[city])
    return raw_city_data

In [7]:
 # 3) load data
raw_city_data = get_raw_city_data(city)

In [8]:
raw_city_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 9 columns):
Unnamed: 0       300000 non-null int64
Start Time       300000 non-null object
End Time         300000 non-null object
Trip Duration    300000 non-null int64
Start Station    300000 non-null object
End Station      300000 non-null object
User Type        300000 non-null object
Gender           238948 non-null object
Birth Year       238981 non-null float64
dtypes: float64(1), int64(2), object(6)
memory usage: 20.6+ MB

In [9]:
raw_city_data

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
5,1473887,2017-06-26 09:01:20,2017-06-26 09:11:06,586,Clinton St & Washington Blvd,Canal St & Taylor St,Subscriber,Male,1990.0
6,961916,2017-05-26 09:41:44,2017-05-26 09:46:25,281,Ashland Ave & Lake St,Wood St & Hubbard St,Subscriber,Female,1983.0
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN
8,606841,2017-04-20 16:08:51,2017-04-20 16:20:20,689,Sedgwick St & Huron St,Halsted St & Blackhawk St (*),Subscriber,Male,1984.0
9,135470,2017-02-06 18:00:47,2017-02-06 18:09:00,493,Stetson Ave & South Water St,Clinton St & Washington Blvd,Subscriber,Male,1979.0
10,175805,2017-02-15 07:09:55,2017-02-15 07:14:56,301,Broadway & Barry Ave,Wilton Ave & Belmont Ave,Subscriber,Female,1993.0
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0
13,1023296,2017-05-30 15:46:18,2017-05-30 15:52:12,354,Larrabee St & Kingsbury St,Clark St & Elm St,Subscriber,Male,1985.0
14,611000,2017-04-20 19:26:33,2017-04-20 19:35:08,515,Canal St & Madison St,Racine Ave (May St) & Fulton St,Subscriber,Male,1984.0
15,958716,2017-05-25 22:59:33,2017-05-25 23:07:19,466,Clark St & Armitage Ave,Sheffield Ave & Wrightwood Ave,Subscriber,Female,1985.0
16,718598,2017-05-03 13:20:38,2017-05-03 13:31:13,635,Ada St & Washington Blvd,Daley Center Plaza,Subscriber,Male,1967.0
17,931608,2017-05-23 08:08:25,2017-05-23 08:11:09,164,Damen Ave & Cortland St,Marshfield Ave & Cortland St,Subscriber,Male,1990.0
18,1469705,2017-06-25 21:26:30,2017-06-25 21:33:44,434,State St & Pearson St,Clark St & Schiller St,Subscriber,Male,1987.0
19,475456,2017-04-08 11:37:55,2017-04-08 11:51:55,840,Adler Planetarium,Burnham Harbor,Customer,NaN,NaN
20,849468,2017-05-16 06:36:17,2017-05-16 06:59:34,1397,Michigan Ave & Oak St,Halsted St & Wrightwood Ave,Subscriber,Female,1992.0
21,1420915,2017-06-23 12:21:01,2017-06-23 12:32:54,713,Rush St & Cedar St,Halsted St & Willow St,Subscriber,Male,1985.0
22,161454,2017-02-12 15:24:29,2017-02-12 15:38:43,854,Clarendon Ave & Leland Ave,Lake Shore Dr & Belmont Ave,Subscriber,Male,1980.0
23,1413814,2017-06-22 19:14:37,2017-06-22 19:29:54,917,Bissell St & Armitage Ave,Orleans St & Chestnut St (NEXT Apts),Subscriber,Female,1989.0
24,717248,2017-05-03 09:41:11,2017-05-03 09:49:10,479,Wabash Ave & Roosevelt Rd,Halsted St & Roosevelt Rd,Subscriber,Male,1992.0
25,1451810,2017-06-24 20:47:40,2017-06-24 21:13:39,1559,Rush St & Cedar St,Halsted St & Roscoe St,Subscriber,Male,1968.0
26,385517,2017-03-23 09:38:27,2017-03-23 09:42:41,254,Loomis St & Jackson Blvd,Peoria St & Jackson Blvd,Subscriber,Female,1985.0
27,1186035,2017-06-09 07:48:55,2017-06-09 07:52:30,215,Canal St & Madison St,Clark St & Randolph St,Subscriber,Male,1974.0
28,512692,2017-04-11 18:49:57,2017-04-11 18:59:36,579,Clinton St & Lake St,Mies van der Rohe Way & Chestnut St,Subscriber,Male,1989.0
29,261757,2017-02-25 19:01:19,2017-02-25 19:08:10,411,Halsted St & Dickens Ave,Halsted St & Wrightwood Ave,Subscriber,Male,1970.0
...,...,...,...,...,...,...,...,...,...
299970,1225370,2017-06-11 11:13:43,2017-06-11 11:21:48,485,Cornell Ave & Hyde Park Blvd,Ellis Ave & 55th St,Subscriber,Male,1990.0
299971,852513,2017-05-16 09:18:52,2017-05-16 09:38:02,1150,Dusable Harbor,Theater on the Lake,Subscriber,Male,1976.0
299972,44015,2017-01-17 08:42:37,2017-01-17 08:53:20,643,Racine Ave & Wrightwood Ave,Clark St & Wellington Ave,Subscriber,Female,1978.0
299973,199144,2017-02-18 12:30:15,2017-02-18 12:51:14,1259,Indiana Ave & Roosevelt Rd,Adler Planetarium,Customer,NaN,NaN
299974,568663,2017-04-17 07:16:38,2017-04-17 07:25:08,510,Halsted St & Maxwell St,Clark St & 9th St (AMLI),Subscriber,Male,2000.0
299975,49643,2017-01-18 11:28:36,2017-01-18 11:31:14,158,Dayton St & North Ave,Sheffield Ave & Kingsbury St,Subscriber,Male,1958.0
299976,722876,2017-05-03 18:45:24,2017-05-03 22:42:09,14205,Paulina Ave & North Ave,Bissell St & Armitage Ave,Subscriber,Male,1990.0
299977,685382,2017-04-27 17:30:16,2017-04-27 17:45:16,900,Clinton St & Jackson Blvd,Dearborn Pkwy & Delaware Pl,Subscriber,Male,1989.0
299978,1242195,2017-06-12 08:35:11,2017-06-12 08:44:20,549,St. Clair St & Erie St,Michigan Ave & Lake St,Subscriber,Female,1971.0
299979,441330,2017-04-02 12:42:10,2017-04-02 12:51:33,563,Bissell St & Armitage Ave,Clark St & Armitage Ave,Customer,NaN,NaN
299980,474051,2017-04-08 09:26:36,2017-04-08 09:43:50,1034,Theater on the Lake,Michigan Ave & Oak St,Subscriber,Female,1976.0
299981,1212375,2017-06-10 14:52:58,2017-06-10 15:29:52,2214,Franklin St & Jackson Blvd,Lake Shore Dr & North Blvd,Customer,NaN,NaN
299982,845283,2017-05-15 17:59:48,2017-05-15 18:05:29,341,Kingsbury St & Kinzie St,Clinton St & Jackson Blvd,Subscriber,Male,1993.0
299983,216083,2017-02-19 14:46:44,2017-02-19 14:58:48,724,Lakeview Ave & Fullerton Pkwy,Halsted St & Roscoe St,Customer,NaN,NaN
299984,454645,2017-04-04 17:16:49,2017-04-04 17:35:00,1091,Damen Ave & Wellington Ave,Clifton Ave & Lawrence Ave,Subscriber,Male,1987.0
299985,712351,2017-05-02 17:45:19,2017-05-02 17:52:00,401,Canal St & Monroe St (*),Milwaukee Ave & Grand Ave,Subscriber,Male,1991.0
299986,1464340,2017-06-25 16:17:53,2017-06-25 16:51:21,2008,Shedd Aquarium,LaSalle St & Washington St,Customer,NaN,NaN
299987,436160,2017-04-01 15:18:51,2017-04-01 15:34:55,964,Sheffield Ave & Wellington Ave,Larrabee St & Armitage Ave,Customer,NaN,NaN
299988,634638,2017-04-23 13:40:15,2017-04-23 14:00:33,1218,Lake Shore Dr & Monroe St,Adler Planetarium,Customer,NaN,NaN
299989,1005203,2017-05-29 13:45:56,2017-05-29 13:54:15,499,Green St & Madison St,Canal St & Taylor St,Customer,NaN,NaN
299990,1444489,2017-06-24 15:28:12,2017-06-24 16:08:11,2399,Rush St & Cedar St,Pine Grove Ave & Waveland Ave,Subscriber,Male,1989.0
299991,723217,2017-05-03 19:15:23,2017-05-03 19:29:32,849,Milwaukee Ave & Wabansia Ave,Ashland Ave & Chicago Ave,Subscriber,Female,1982.0
299992,1327248,2017-06-17 16:44:16,2017-06-17 16:50:57,401,Sheffield Ave & Willow St,Halsted St & Dickens Ave,Subscriber,Male,1955.0
299993,68299,2017-01-21 17:16:02,2017-01-21 17:55:11,2349,Lake Shore Dr & Monroe St,McClurg Ct & Erie St,Customer,NaN,NaN
299994,935129,2017-05-23 17:08:04,2017-05-23 17:11:37,213,Indiana Ave & 31st St,MLK Jr Dr & 29th St,Subscriber,Male,1988.0
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [10]:
def clean_data(raw_city_data):
    '''Read CSV (comma-separated) file into DataFrame
    Args:
        (obj) raw_city_data from get_raw_city_data(city)
    Returns:
        (obj) parsed raw_city_data   
    '''

    
    #change Birth_Year from float to int datatype and fill in NA values to zero
    #raw_city_data['Birth Year']=raw_city_data['Birth Year'].fillna(0.0).astype(int)
    # create 'journey' column that concatenates start_station, end_station 
    raw_city_data['Journey'] = raw_city_data['Start Station'].str.cat(raw_city_data['End Station'], sep=' to ')
    
    #format column names
    raw_city_data.columns = [x.strip().replace(' ', '_') for x in raw_city_data.columns]
    #make all headers lowercase
    raw_city_data.columns=map(str.lower, raw_city_data.columns)
    
    return raw_city_data

In [11]:
clean_data(raw_city_data)

,unnamed:_0,start_time,end_time,trip_duration,start_station,end_station,user_type,gender,birth_year,journey
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,Wood St & Hubbard St to Damen Ave & Chicago Ave
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,Theater on the Lake to Sheffield Ave & Wavelan...
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,May St & Taylor St to Wood St & Taylor St
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,Christiana Ave & Lawrence Ave to St. Louis Ave...
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,Clark St & Randolph St to Desplaines St & Jack...
5,1473887,2017-06-26 09:01:20,2017-06-26 09:11:06,586,Clinton St & Washington Blvd,Canal St & Taylor St,Subscriber,Male,1990.0,Clinton St & Washington Blvd to Canal St & Tay...
6,961916,2017-05-26 09:41:44,2017-05-26 09:46:25,281,Ashland Ave & Lake St,Wood St & Hubbard St,Subscriber,Female,1983.0,Ashland Ave & Lake St to Wood St & Hubbard St
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN,Larrabee St & Kingsbury St to Larrabee St & Ar...
8,606841,2017-04-20 16:08:51,2017-04-20 16:20:20,689,Sedgwick St & Huron St,Halsted St & Blackhawk St (*),Subscriber,Male,1984.0,Sedgwick St & Huron St to Halsted St & Blackha...
9,135470,2017-02-06 18:00:47,2017-02-06 18:09:00,493,Stetson Ave & South Water St,Clinton St & Washington Blvd,Subscriber,Male,1979.0,Stetson Ave & South Water St to Clinton St & W...
10,175805,2017-02-15 07:09:55,2017-02-15 07:14:56,301,Broadway & Barry Ave,Wilton Ave & Belmont Ave,Subscriber,Female,1993.0,Broadway & Barry Ave to Wilton Ave & Belmont Ave
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0,Southport Ave & Wellington Ave to Clark St & S...
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0,Green St & Madison St to Ada St & Washington Blvd
13,1023296,2017-05-30 15:46:18,2017-05-30 15:52:12,354,Larrabee St & Kingsbury St,Clark St & Elm St,Subscriber,Male,1985.0,Larrabee St & Kingsbury St to Clark St & Elm St
14,611000,2017-04-20 19:26:33,2017-04-20 19:35:08,515,Canal St & Madison St,Racine Ave (May St) & Fulton St,Subscriber,Male,1984.0,Canal St & Madison St to Racine Ave (May St) &...
15,958716,2017-05-25 22:59:33,2017-05-25 23:07:19,466,Clark St & Armitage Ave,Sheffield Ave & Wrightwood Ave,Subscriber,Female,1985.0,Clark St & Armitage Ave to Sheffield Ave & Wri...
16,718598,2017-05-03 13:20:38,2017-05-03 13:31:13,635,Ada St & Washington Blvd,Daley Center Plaza,Subscriber,Male,1967.0,Ada St & Washington Blvd to Daley Center Plaza
17,931608,2017-05-23 08:08:25,2017-05-23 08:11:09,164,Damen Ave & Cortland St,Marshfield Ave & Cortland St,Subscriber,Male,1990.0,Damen Ave & Cortland St to Marshfield Ave & Co...
18,1469705,2017-06-25 21:26:30,2017-06-25 21:33:44,434,State St & Pearson St,Clark St & Schiller St,Subscriber,Male,1987.0,State St & Pearson St to Clark St & Schiller St
19,475456,2017-04-08 11:37:55,2017-04-08 11:51:55,840,Adler Planetarium,Burnham Harbor,Customer,NaN,NaN,Adler Planetarium to Burnham Harbor
20,849468,2017-05-16 06:36:17,2017-05-16 06:59:34,1397,Michigan Ave & Oak St,Halsted St & Wrightwood Ave,Subscriber,Female,1992.0,Michigan Ave & Oak St to Halsted St & Wrightwo...
21,1420915,2017-06-23 12:21:01,2017-06-23 12:32:54,713,Rush St & Cedar St,Halsted St & Willow St,Subscriber,Male,1985.0,Rush St & Cedar St to Halsted St & Willow St
22,161454,2017-02-12 15:24:29,2017-02-12 15:38:43,854,Clarendon Ave & Leland Ave,Lake Shore Dr & Belmont Ave,Subscriber,Male,1980.0,Clarendon Ave & Leland Ave to Lake Shore Dr & ...
23,1413814,2017-06-22 19:14:37,2017-06-22 19:29:54,917,Bissell St & Armitage Ave,Orleans St & Chestnut St (NEXT Apts),Subscriber,Female,1989.0,Bissell St & Armitage Ave to Orleans St & Ches...
24,717248,2017-05-03 09:41:11,2017-05-03 09:49:10,479,Wabash Ave & Roosevelt Rd,Halsted St & Roosevelt Rd,Subscriber,Male,1992.0,Wabash Ave & Roosevelt Rd to Halsted St & Roos...
25,1451810,2017-06-24 20:47:40,2017-06-24 21:13:39,1559,Rush St & Cedar St,Halsted St & Roscoe St,Subscriber,Male,1968.0,Rush St & Cedar St to Halsted St & Roscoe St
26,385517,2017-03-23 09:38:27,2017-03-23 09:42:41,254,Loomis St & Jackson Blvd,Peoria St & Jackson Blvd,Subscriber,Female,1985.0,Loomis St & Jackson Blvd to Peoria St & Jackso...
27,1186035,2017-06-09 07:48:55,2017-06-09 07:52:30,215,Canal St & Madison St,Clark St & Randolph St,Subscriber,Male,1974.0,Canal St & Madison St to Clark St & Randolph St
28,512692,2017-04-11 18:49:57,2017-04-11 18:59:36,579,Clinton St & Lake St,Mies van der Rohe Way & Chestnut St,Subscriber,Male,1989.0,Clinton St & Lake St to Mies van der Rohe Way ...
29,261757,2017-02-25 19:01:19,2017-02-25 19:08:10,411,Halsted St & Dickens Ave,Halsted St & Wrightwood Ave,Subscriber,Male,1970.0,Halsted St & Dickens Ave to Halsted St & Wrigh...
...,...,...,...,...,...,...,...,...,...,...
299970,1225370,2017-06-11 11:13:43,2017-06-11 11:21:48,485,Cornell Ave & Hyde Park Blvd,Ellis Ave & 55th St,Subscriber,Male,1990.0,Cornell Ave & Hyde Park Blvd to Ellis Ave & 55...
299971,852513,2017-05-16 09:18:52,2017-05-16 09:38:02,1150,Dusable Harbor,Theater on the Lake,Subscriber,Male,1976.0,Dusable Harbor to Theater on the Lake
299972,44015,2017-01-17 08:42:37,2017-01-17 08:53:20,643,Racine Ave & Wrightwood Ave,Clark St & Wellington Ave,Subscriber,Female,1978.0,Racine Ave & Wrightwood Ave to Clark St & Well...
299973,199144,2017-02-18 12:30:15,2017-02-18 12:51:14,1259,Indiana Ave & Roosevelt Rd,Adler Planetarium,Customer,NaN,NaN,Indiana Ave & Roosevelt Rd to Adler Planetarium
299974,568663,2017-04-17 07:16:38,2017-04-17 07:25:08,510,Halsted St & Maxwell St,Clark St & 9th St (AMLI),Subscriber,Male,2000.0,Halsted St & Maxwell St to Clark St & 9th St (...
299975,49643,2017-01-18 11:28:36,2017-01-18 11:31:14,158,Dayton St & North Ave,Sheffield Ave & Kingsbury St,Subscriber,Male,1958.0,Dayton St & North Ave to Sheffield Ave & Kings...
299976,722876,2017-05-03 18:45:24,2017-05-03 22:42:09,14205,Paulina Ave & North Ave,Bissell St & Armitage Ave,Subscriber,Male,1990.0,Paulina Ave & North Ave to Bissell St & Armita...
299977,685382,2017-04-27 17:30:16,2017-04-27 17:45:16,900,Clinton St & Jackson Blvd,Dearborn Pkwy & Delaware Pl,Subscriber,Male,1989.0,Clinton St & Jackson Blvd to Dearborn Pkwy & D...
299978,1242195,2017-06-12 08:35:11,2017-06-12 08:44:20,549,St. Clair St & Erie St,Michigan Ave & Lake St,Subscriber,Female,1971.0,St. Clair St & Erie St to Michigan Ave & Lake St
299979,441330,2017-04-02 12:42:10,2017-04-02 12:51:33,563,Bissell St & Armitage Ave,Clark St & Armitage Ave,Customer,NaN,NaN,Bissell St & Armitage Ave to Clark St & Armita...
299980,474051,2017-04-08 09:26:36,2017-04-08 09:43:50,1034,Theater on the Lake,Michigan Ave & Oak St,Subscriber,Female,1976.0,Theater on the Lake to Michigan Ave & Oak St
299981,1212375,2017-06-10 14:52:58,2017-06-10 15:29:52,2214,Franklin St & Jackson Blvd,Lake Shore Dr & North Blvd,Customer,NaN,NaN,Franklin St & Jackson Blvd to Lake Shore Dr & ...
299982,845283,2017-05-15 17:59:48,2017-05-15 18:05:29,341,Kingsbury St & Kinzie St,Clinton St & Jackson Blvd,Subscriber,Male,1993.0,Kingsbury St & Kinzie St to Clinton St & Jacks...
299983,216083,2017-02-19 14:46:44,2017-02-19 14:58:48,724,Lakeview Ave & Fullerton Pkwy,Halsted St & Roscoe St,Customer,NaN,NaN,Lakeview Ave & Fullerton Pkwy to Halsted St & ...
299984,454645,2017-04-04 17:16:49,2017-04-04 17:35:00,1091,Damen Ave & Wellington Ave,Clifton Ave & Lawrence Ave,Subscriber,Male,1987.0,Damen Ave & Wellington Ave to Clifton Ave & La...
299985,712351,2017-05-02 17:45:19,2017-05-02 17:52:00,401,Canal St & Monroe St (*),Milwaukee Ave & Grand Ave,Subscriber,Male,1991.0,Canal St & Monroe St (*) to Milwaukee Ave & Gr...
299986,1464340,2017-06-25 16:17:53,2017-06-25 16:51:21,2008,Shedd Aquarium,LaSalle St & Washington St,Customer,NaN,NaN,Shedd Aquarium to LaSalle St & Washington St
299987,436160,2017-04-01 15:18:51,2017-04-01 15:34:55,964,Sheffield Ave & Wellington Ave,Larrabee St & Armitage Ave,Customer,NaN,NaN,Sheffield Ave & Wellington Ave to Larrabee St ...
299988,634638,2017-04-23 13:40:15,2017-04-23 14:00:33,1218,Lake Shore Dr & Monroe St,Adler Planetarium,Customer,NaN,NaN,Lake Shore Dr & Monroe St to Adler Planetarium
299989,1005203,2017-05-29 13:45:56,2017-05-29 13:54:15,499,Green St & Madison St,Canal St & Taylor St,Customer,NaN,NaN,Green St & Madison St to Canal St & Taylor St
299990,1444489,2017-06-24 15:28:12,2017-06-24 16:08:11,2399,Rush St & Cedar St,Pine Grove Ave & Waveland Ave,Subscriber,Male,1989.0,Rush St & Cedar St to Pine Grove Ave & Wavelan...
299991,723217,2017-05-03 19:15:23,2017-05-03 19:29:32,849,Milwaukee Ave & Wabansia Ave,Ashland Ave & Chicago Ave,Subscriber,Female,1982.0,Milwaukee Ave & Wabansia Ave to Ashland Ave & ...
299992,1327248,2017-06-17 16:44:16,2017-06-17 16:50:57,401,Sheffield Ave & Willow St,Halsted St & Dickens Ave,Subscriber,Male,1955.0,Sheffield Ave & Willow St to Halsted St & Dick...
299993,68299,2017-01-21 17:16:02,2017-01-21 17:55:11,2349,Lake Shore Dr & Monroe St,McClurg Ct & Erie St,Customer,NaN,NaN,Lake Shore Dr & Monroe St to McClurg Ct & Erie St
299994,935129,2017-05-23 17:08:04,2017-05-23 17:11:37,213,Indiana Ave & 31st St,MLK Jr Dr & 29th St,Subscriber,Male,1988.0,Indiana Ave & 31st St to MLK Jr Dr & 29th St
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,Orleans St & Elm St (*) to Sheffield Ave & Web...
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN,Ashland Ave & Blackhawk St to Clark St & Elm St
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0,Ravenswood Ave & Lawrence Ave to Stockton Dr &...
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN,Sheffield Ave & Willow St to Clark St & Chicag...
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0,Wacker Dr & Washington St to Damen Ave & Divis...

In [12]:
raw_city_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 10 columns):
unnamed:_0       300000 non-null int64
start_time       300000 non-null object
end_time         300000 non-null object
trip_duration    300000 non-null int64
start_station    300000 non-null object
end_station      300000 non-null object
user_type        300000 non-null object
gender           238948 non-null object
birth_year       238981 non-null float64
journey          300000 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 22.9+ MB

In [13]:
def parse_data(raw_city_data):
    '''Read CSV (comma-separated) file into DataFrame
    Args:
        (obj) raw_city_data from get_raw_city_data(city)
    Returns:
        (obj) parsed raw_city_data   
    ''' 
    # parse datetime 
    raw_city_data['start_time'] = pd.to_datetime(raw_city_data['start_time'])
    raw_city_data['end_time'] = pd.to_datetime(raw_city_data['end_time'])
    
    # extract month and hour from the Start Time column to create month, hour columns
    raw_city_data['month'] = raw_city_data['start_time'].dt.month
    raw_city_data['day_of_week'] = raw_city_data['start_time'].dt.weekday_name
    raw_city_data['hour'] = raw_city_data['start_time'].dt.hour 
    
    return raw_city_data

In [14]:
parse_data(raw_city_data)

,unnamed:_0,start_time,end_time,trip_duration,start_station,end_station,user_type,gender,birth_year,journey,month,day_of_week,hour
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0,Wood St & Hubbard St to Damen Ave & Chicago Ave,6,Friday,15
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0,Theater on the Lake to Sheffield Ave & Wavelan...,5,Thursday,18
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,May St & Taylor St to Wood St & Taylor St,1,Wednesday,8
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0,Christiana Ave & Lawrence Ave to St. Louis Ave...,3,Monday,13
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,Clark St & Randolph St to Desplaines St & Jack...,1,Tuesday,14
5,1473887,2017-06-26 09:01:20,2017-06-26 09:11:06,586,Clinton St & Washington Blvd,Canal St & Taylor St,Subscriber,Male,1990.0,Clinton St & Washington Blvd to Canal St & Tay...,6,Monday,9
6,961916,2017-05-26 09:41:44,2017-05-26 09:46:25,281,Ashland Ave & Lake St,Wood St & Hubbard St,Subscriber,Female,1983.0,Ashland Ave & Lake St to Wood St & Hubbard St,5,Friday,9
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN,Larrabee St & Kingsbury St to Larrabee St & Ar...,1,Saturday,14
8,606841,2017-04-20 16:08:51,2017-04-20 16:20:20,689,Sedgwick St & Huron St,Halsted St & Blackhawk St (*),Subscriber,Male,1984.0,Sedgwick St & Huron St to Halsted St & Blackha...,4,Thursday,16
9,135470,2017-02-06 18:00:47,2017-02-06 18:09:00,493,Stetson Ave & South Water St,Clinton St & Washington Blvd,Subscriber,Male,1979.0,Stetson Ave & South Water St to Clinton St & W...,2,Monday,18
10,175805,2017-02-15 07:09:55,2017-02-15 07:14:56,301,Broadway & Barry Ave,Wilton Ave & Belmont Ave,Subscriber,Female,1993.0,Broadway & Barry Ave to Wilton Ave & Belmont Ave,2,Wednesday,7
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0,Southport Ave & Wellington Ave to Clark St & S...,1,Sunday,15
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0,Green St & Madison St to Ada St & Washington Blvd,1,Sunday,16
13,1023296,2017-05-30 15:46:18,2017-05-30 15:52:12,354,Larrabee St & Kingsbury St,Clark St & Elm St,Subscriber,Male,1985.0,Larrabee St & Kingsbury St to Clark St & Elm St,5,Tuesday,15
14,611000,2017-04-20 19:26:33,2017-04-20 19:35:08,515,Canal St & Madison St,Racine Ave (May St) & Fulton St,Subscriber,Male,1984.0,Canal St & Madison St to Racine Ave (May St) &...,4,Thursday,19
15,958716,2017-05-25 22:59:33,2017-05-25 23:07:19,466,Clark St & Armitage Ave,Sheffield Ave & Wrightwood Ave,Subscriber,Female,1985.0,Clark St & Armitage Ave to Sheffield Ave & Wri...,5,Thursday,22
16,718598,2017-05-03 13:20:38,2017-05-03 13:31:13,635,Ada St & Washington Blvd,Daley Center Plaza,Subscriber,Male,1967.0,Ada St & Washington Blvd to Daley Center Plaza,5,Wednesday,13
17,931608,2017-05-23 08:08:25,2017-05-23 08:11:09,164,Damen Ave & Cortland St,Marshfield Ave & Cortland St,Subscriber,Male,1990.0,Damen Ave & Cortland St to Marshfield Ave & Co...,5,Tuesday,8
18,1469705,2017-06-25 21:26:30,2017-06-25 21:33:44,434,State St & Pearson St,Clark St & Schiller St,Subscriber,Male,1987.0,State St & Pearson St to Clark St & Schiller St,6,Sunday,21
19,475456,2017-04-08 11:37:55,2017-04-08 11:51:55,840,Adler Planetarium,Burnham Harbor,Customer,NaN,NaN,Adler Planetarium to Burnham Harbor,4,Saturday,11
20,849468,2017-05-16 06:36:17,2017-05-16 06:59:34,1397,Michigan Ave & Oak St,Halsted St & Wrightwood Ave,Subscriber,Female,1992.0,Michigan Ave & Oak St to Halsted St & Wrightwo...,5,Tuesday,6
21,1420915,2017-06-23 12:21:01,2017-06-23 12:32:54,713,Rush St & Cedar St,Halsted St & Willow St,Subscriber,Male,1985.0,Rush St & Cedar St to Halsted St & Willow St,6,Friday,12
22,161454,2017-02-12 15:24:29,2017-02-12 15:38:43,854,Clarendon Ave & Leland Ave,Lake Shore Dr & Belmont Ave,Subscriber,Male,1980.0,Clarendon Ave & Leland Ave to Lake Shore Dr & ...,2,Sunday,15
23,1413814,2017-06-22 19:14:37,2017-06-22 19:29:54,917,Bissell St & Armitage Ave,Orleans St & Chestnut St (NEXT Apts),Subscriber,Female,1989.0,Bissell St & Armitage Ave to Orleans St & Ches...,6,Thursday,19
24,717248,2017-05-03 09:41:11,2017-05-03 09:49:10,479,Wabash Ave & Roosevelt Rd,Halsted St & Roosevelt Rd,Subscriber,Male,1992.0,Wabash Ave & Roosevelt Rd to Halsted St & Roos...,5,Wednesday,9
25,1451810,2017-06-24 20:47:40,2017-06-24 21:13:39,1559,Rush St & Cedar St,Halsted St & Roscoe St,Subscriber,Male,1968.0,Rush St & Cedar St to Halsted St & Roscoe St,6,Saturday,20
26,385517,2017-03-23 09:38:27,2017-03-23 09:42:41,254,Loomis St & Jackson Blvd,Peoria St & Jackson Blvd,Subscriber,Female,1985.0,Loomis St & Jackson Blvd to Peoria St & Jackso...,3,Thursday,9
27,1186035,2017-06-09 07:48:55,2017-06-09 07:52:30,215,Canal St & Madison St,Clark St & Randolph St,Subscriber,Male,1974.0,Canal St & Madison St to Clark St & Randolph St,6,Friday,7
28,512692,2017-04-11 18:49:57,2017-04-11 18:59:36,579,Clinton St & Lake St,Mies van der Rohe Way & Chestnut St,Subscriber,Male,1989.0,Clinton St & Lake St to Mies van der Rohe Way ...,4,Tuesday,18
29,261757,2017-02-25 19:01:19,2017-02-25 19:08:10,411,Halsted St & Dickens Ave,Halsted St & Wrightwood Ave,Subscriber,Male,1970.0,Halsted St & Dickens Ave to Halsted St & Wrigh...,2,Saturday,19
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299970,1225370,2017-06-11 11:13:43,2017-06-11 11:21:48,485,Cornell Ave & Hyde Park Blvd,Ellis Ave & 55th St,Subscriber,Male,1990.0,Cornell Ave & Hyde Park Blvd to Ellis Ave & 55...,6,Sunday,11
299971,852513,2017-05-16 09:18:52,2017-05-16 09:38:02,1150,Dusable Harbor,Theater on the Lake,Subscriber,Male,1976.0,Dusable Harbor to Theater on the Lake,5,Tuesday,9
299972,44015,2017-01-17 08:42:37,2017-01-17 08:53:20,643,Racine Ave & Wrightwood Ave,Clark St & Wellington Ave,Subscriber,Female,1978.0,Racine Ave & Wrightwood Ave to Clark St & Well...,1,Tuesday,8
299973,199144,2017-02-18 12:30:15,2017-02-18 12:51:14,1259,Indiana Ave & Roosevelt Rd,Adler Planetarium,Customer,NaN,NaN,Indiana Ave & Roosevelt Rd to Adler Planetarium,2,Saturday,12
299974,568663,2017-04-17 07:16:38,2017-04-17 07:25:08,510,Halsted St & Maxwell St,Clark St & 9th St (AMLI),Subscriber,Male,2000.0,Halsted St & Maxwell St to Clark St & 9th St (...,4,Monday,7
299975,49643,2017-01-18 11:28:36,2017-01-18 11:31:14,158,Dayton St & North Ave,Sheffield Ave & Kingsbury St,Subscriber,Male,1958.0,Dayton St & North Ave to Sheffield Ave & Kings...,1,Wednesday,11
299976,722876,2017-05-03 18:45:24,2017-05-03 22:42:09,14205,Paulina Ave & North Ave,Bissell St & Armitage Ave,Subscriber,Male,1990.0,Paulina Ave & North Ave to Bissell St & Armita...,5,Wednesday,18
299977,685382,2017-04-27 17:30:16,2017-04-27 17:45:16,900,Clinton St & Jackson Blvd,Dearborn Pkwy & Delaware Pl,Subscriber,Male,1989.0,Clinton St & Jackson Blvd to Dearborn Pkwy & D...,4,Thursday,17
299978,1242195,2017-06-12 08:35:11,2017-06-12 08:44:20,549,St. Clair St & Erie St,Michigan Ave & Lake St,Subscriber,Female,1971.0,St. Clair St & Erie St to Michigan Ave & Lake St,6,Monday,8
299979,441330,2017-04-02 12:42:10,2017-04-02 12:51:33,563,Bissell St & Armitage Ave,Clark St & Armitage Ave,Customer,NaN,NaN,Bissell St & Armitage Ave to Clark St & Armita...,4,Sunday,12
299980,474051,2017-04-08 09:26:36,2017-04-08 09:43:50,1034,Theater on the Lake,Michigan Ave & Oak St,Subscriber,Female,1976.0,Theater on the Lake to Michigan Ave & Oak St,4,Saturday,9
299981,1212375,2017-06-10 14:52:58,2017-06-10 15:29:52,2214,Franklin St & Jackson Blvd,Lake Shore Dr & North Blvd,Customer,NaN,NaN,Franklin St & Jackson Blvd to Lake Shore Dr & ...,6,Saturday,14
299982,845283,2017-05-15 17:59:48,2017-05-15 18:05:29,341,Kingsbury St & Kinzie St,Clinton St & Jackson Blvd,Subscriber,Male,1993.0,Kingsbury St & Kinzie St to Clinton St & Jacks...,5,Monday,17
299983,216083,2017-02-19 14:46:44,2017-02-19 14:58:48,724,Lakeview Ave & Fullerton Pkwy,Halsted St & Roscoe St,Customer,NaN,NaN,Lakeview Ave & Fullerton Pkwy to Halsted St & ...,2,Sunday,14
299984,454645,2017-04-04 17:16:49,2017-04-04 17:35:00,1091,Damen Ave & Wellington Ave,Clifton Ave & Lawrence Ave,Subscriber,Male,1987.0,Damen Ave & Wellington Ave to Clifton Ave & La...,4,Tuesday,17
299985,712351,2017-05-02 17:45:19,2017-05-02 17:52:00,401,Canal St & Monroe St (*),Milwaukee Ave & Grand Ave,Subscriber,Male,1991.0,Canal St & Monroe St (*) to Milwaukee Ave & Gr...,5,Tuesday,17
299986,1464340,2017-06-25 16:17:53,2017-06-25 16:51:21,2008,Shedd Aquarium,LaSalle St & Washington St,Customer,NaN,NaN,Shedd Aquarium to LaSalle St & Washington St,6,Sunday,16
299987,436160,2017-04-01 15:18:51,2017-04-01 15:34:55,964,Sheffield Ave & Wellington Ave,Larrabee St & Armitage Ave,Customer,NaN,NaN,Sheffield Ave & Wellington Ave to Larrabee St ...,4,Saturday,15
299988,634638,2017-04-23 13:40:15,2017-04-23 14:00:33,1218,Lake Shore Dr & Monroe St,Adler Planetarium,Customer,NaN,NaN,Lake Shore Dr & Monroe St to Adler Planetarium,4,Sunday,13
299989,1005203,2017-05-29 13:45:56,2017-05-29 13:54:15,499,Green St & Madison St,Canal St & Taylor St,Customer,NaN,NaN,Green St & Madison St to Canal St & Taylor St,5,Monday,13
299990,1444489,2017-06-24 15:28:12,2017-06-24 16:08:11,2399,Rush St & Cedar St,Pine Grove Ave & Waveland Ave,Subscriber,Male,1989.0,Rush St & Cedar St to Pine Grove Ave & Wavelan...,6,Saturday,15
299991,723217,2017-05-03 19:15:23,2017-05-03 19:29:32,849,Milwaukee Ave & Wabansia Ave,Ashland Ave & Chicago Ave,Subscriber,Female,1982.0,Milwaukee Ave & Wabansia Ave to Ashland Ave & ...,5,Wednesday,19
299992,1327248,2017-06-17 16:44:16,2017-06-17 16:50:57,401,Sheffield Ave & Willow St,Halsted St & Dickens Ave,Subscriber,Male,1955.0,Sheffield Ave & Willow St to Halsted St & Dick...,6,Saturday,16
299993,68299,2017-01-21 17:16:02,2017-01-21 17:55:11,2349,Lake Shore Dr & Monroe St,McClurg Ct & Erie St,Customer,NaN,NaN,Lake Shore Dr & Monroe St to McClurg Ct & Erie St,1,Saturday,17
299994,935129,2017-05-23 17:08:04,2017-05-23 17:11:37,213,Indiana Ave & 31st St,MLK Jr Dr & 29th St,Subscriber,Male,1988.0,Indiana Ave & 31st St to MLK Jr Dr & 29th St,5,Tuesday,17
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,Orleans St & Elm St (*) to Sheffield Ave & Web...,1,Saturday,13
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN,Ashland Ave & Blackhawk St to Clark St & Elm St,4,Friday,19
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0,Ravenswood Ave & Lawrence Ave to Stockton Dr &...,2,Sunday,9
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN,Sheffield Ave & Willow St to Clark St & Chicag...,4,Sunday,17
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0,Wacker Dr & Washington St to Damen Ave & Divis...,5,Tuesday,12

In [15]:
raw_city_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 13 columns):
unnamed:_0       300000 non-null int64
start_time       300000 non-null datetime64[ns]
end_time         300000 non-null datetime64[ns]
trip_duration    300000 non-null int64
start_station    300000 non-null object
end_station      300000 non-null object
user_type        300000 non-null object
gender           238948 non-null object
birth_year       238981 non-null float64
journey          300000 non-null object
month            300000 non-null int64
day_of_week      300000 non-null object
hour             300000 non-null int64
dtypes: datetime64[ns](2), float64(1), int64(4), object(6)
memory usage: 29.8+ MB

In [16]:
def filter_data(raw_city_data):
    '''Asks the user for a time period and filter the basic processed data according 
        to the specified filter and returns the filtered data and the filter name.
    Args:
        (obj) basic processed data
    Returns:
        (obj) filtered data
    '''

    # loop for handling invalid entries
    while True: 
        time_period = input('Would you like to filter the data by month, day, or not at all? Type "none" for no time filter.\n').lower()
        print('Great! Time period selected: %s' % time_period)
        if time_period in ('month', 'day', 'none'):
            break
        print('Enter a valid input provided in the options')

    if time_period =='month':
    #ask for the month of choice
        while True:
            month_selection = input('Select a month, January - June \n')
            if month_selection.lower() in months:
                print('Great! We\'ll use %s.' % month_selection)
                month_selection = months.get(month_selection)
                filtered_city_data = raw_city_data[raw_city_data['start_time'].dt.month==month_selection]
                
                break

            print('That is not a valid answer. Please try again.')
            
    elif time_period =='day':
        while True:
            day_selection = input('Which day of the week? \n')
            if day_selection.lower() in days:
                print('Great! We\'ll use %s.' % day_selection)
                day_selection = days.get(day_selection)
                filtered_city_data = raw_city_data[raw_city_data['start_time'].dt.dayofweek==day_selection]
                break

            print('That is not a valid answer. Please try again.')
                
    else:
        filtered_city_data = raw_city_data # for none option

    return filtered_city_data

In [17]:
    #5) filter data
filtered_city_data = filter_data(raw_city_data)

Would you like to filter the data by month, day, or not at all? Type "none" for no time filter.
month
Great! Time period selected: month
Select a month, January - June
january
Great! We'll use january.

In [18]:
filtered_city_data

,unnamed:_0,start_time,end_time,trip_duration,start_station,end_station,user_type,gender,birth_year,journey,month,day_of_week,hour
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0,May St & Taylor St to Wood St & Taylor St,1,Wednesday,8
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0,Clark St & Randolph St to Desplaines St & Jack...,1,Tuesday,14
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN,Larrabee St & Kingsbury St to Larrabee St & Ar...,1,Saturday,14
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0,Southport Ave & Wellington Ave to Clark St & S...,1,Sunday,15
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0,Green St & Madison St to Ada St & Washington Blvd,1,Sunday,16
39,93723,2017-01-26 19:45:41,2017-01-26 19:59:31,830,McClurg Ct & Erie St,Clinton St & Washington Blvd,Subscriber,Male,1977.0,McClurg Ct & Erie St to Clinton St & Washingto...,1,Thursday,19
91,80745,2017-01-24 10:51:56,2017-01-24 11:12:04,1208,Streeter Dr & Grand Ave,Canal St & Monroe St (*),Subscriber,Male,1985.0,Streeter Dr & Grand Ave to Canal St & Monroe S...,1,Tuesday,10
117,7325,2017-01-03 17:57:21,2017-01-03 18:06:04,523,Artesian Ave & Hubbard St,Damen Ave & Augusta Blvd,Subscriber,Male,1989.0,Artesian Ave & Hubbard St to Damen Ave & Augus...,1,Tuesday,17
120,1647,2017-01-01 21:06:09,2017-01-01 21:10:37,268,Sedgwick St & Webster Ave,Halsted St & Wrightwood Ave,Subscriber,Male,1984.0,Sedgwick St & Webster Ave to Halsted St & Wrig...,1,Sunday,21
121,42280,2017-01-16 14:54:38,2017-01-16 15:09:03,865,Field Museum,Millennium Park,Subscriber,Male,1992.0,Field Museum to Millennium Park,1,Monday,14
130,111009,2017-01-31 18:21:03,2017-01-31 18:28:25,442,Ravenswood Ave & Lawrence Ave,Lincoln Ave & Belle Plaine Ave,Subscriber,Male,1967.0,Ravenswood Ave & Lawrence Ave to Lincoln Ave &...,1,Tuesday,18
143,18745,2017-01-08 13:23:19,2017-01-08 13:28:52,333,State St & Harrison St,Wells St & Polk St,Subscriber,Male,1954.0,State St & Harrison St to Wells St & Polk St,1,Sunday,13
167,77795,2017-01-23 18:50:16,2017-01-23 18:56:43,387,Indiana Ave & Roosevelt Rd,Michigan Ave & Washington St,Subscriber,Male,1990.0,Indiana Ave & Roosevelt Rd to Michigan Ave & W...,1,Monday,18
187,16793,2017-01-06 20:23:15,2017-01-06 20:27:54,279,Sheffield Ave & Wellington Ave,Lincoln Ave & Diversey Pkwy,Subscriber,Male,1990.0,Sheffield Ave & Wellington Ave to Lincoln Ave ...,1,Friday,20
202,52837,2017-01-18 21:57:14,2017-01-18 22:25:04,1670,St. Louis Ave & Balmoral Ave,Kedzie Ave & Palmer Ct,Subscriber,Male,1978.0,St. Louis Ave & Balmoral Ave to Kedzie Ave & P...,1,Wednesday,21
208,58222,2017-01-20 08:33:57,2017-01-20 08:38:31,274,Kedzie Ave & Palmer Ct,California Ave & Milwaukee Ave,Subscriber,Female,1988.0,Kedzie Ave & Palmer Ct to California Ave & Mil...,1,Friday,8
210,56772,2017-01-19 17:20:47,2017-01-19 17:34:44,837,Western Ave & Winnebago Ave,Western Ave & Walton St,Subscriber,Male,1956.0,Western Ave & Winnebago Ave to Western Ave & W...,1,Thursday,17
234,1188,2017-01-01 16:09:40,2017-01-01 16:16:08,388,Cornell Ave & Hyde Park Blvd,Greenwood Ave & 47th St,Subscriber,Male,1966.0,Cornell Ave & Hyde Park Blvd to Greenwood Ave ...,1,Sunday,16
236,42046,2017-01-16 11:29:52,2017-01-16 11:43:56,844,Pine Grove Ave & Waveland Ave,Ravenswood Ave & Montrose Ave (*),Subscriber,Female,1990.0,Pine Grove Ave & Waveland Ave to Ravenswood Av...,1,Monday,11
237,111057,2017-01-31 18:26:13,2017-01-31 18:40:10,837,Franklin St & Monroe St,McClurg Ct & Illinois St,Subscriber,Female,1988.0,Franklin St & Monroe St to McClurg Ct & Illino...,1,Tuesday,18
245,23796,2017-01-10 07:41:37,2017-01-10 07:51:07,570,Michigan Ave & Washington St,Morgan St & Lake St,Subscriber,Male,1986.0,Michigan Ave & Washington St to Morgan St & La...,1,Tuesday,7
253,73287,2017-01-23 07:21:14,2017-01-23 07:32:39,685,Artesian Ave & Hubbard St,Racine Ave (May St) & Fulton St,Subscriber,Male,1972.0,Artesian Ave & Hubbard St to Racine Ave (May S...,1,Monday,7
256,3680,2017-01-02 23:40:20,2017-01-02 23:45:25,305,Lincoln Ave & Diversey Pkwy,Lincoln Ave & Belmont Ave,Subscriber,Male,1987.0,Lincoln Ave & Diversey Pkwy to Lincoln Ave & B...,1,Monday,23
269,85518,2017-01-25 08:19:40,2017-01-25 08:21:23,103,Clark St & Wellington Ave,Sheffield Ave & Wellington Ave,Subscriber,Male,1988.0,Clark St & Wellington Ave to Sheffield Ave & W...,1,Wednesday,8
273,26335,2017-01-10 20:10:26,2017-01-10 20:15:12,286,Damen Ave & Pierce Ave,Ashland Ave & Division St,Subscriber,Male,1983.0,Damen Ave & Pierce Ave to Ashland Ave & Divisi...,1,Tuesday,20
291,89092,2017-01-25 19:39:44,2017-01-25 19:42:31,167,Halsted St & Willow St,Sheffield Ave & Kingsbury St,Subscriber,Male,1984.0,Halsted St & Willow St to Sheffield Ave & King...,1,Wednesday,19
341,11199,2017-01-04 19:03:21,2017-01-04 19:12:46,565,Greenview Ave & Jarvis Ave,Sheridan Rd & Loyola Ave,Subscriber,Male,1981.0,Greenview Ave & Jarvis Ave to Sheridan Rd & Lo...,1,Wednesday,19
363,69116,2017-01-21 19:36:21,2017-01-21 19:47:51,690,Broadway & Cornelia Ave,Broadway & Argyle St,Subscriber,Male,1988.0,Broadway & Cornelia Ave to Broadway & Argyle St,1,Saturday,19
366,25278,2017-01-10 16:49:27,2017-01-10 16:53:48,261,Franklin St & Monroe St,Clark St & Congress Pkwy,Subscriber,Male,1968.0,Franklin St & Monroe St to Clark St & Congress...,1,Tuesday,16
383,65411,2017-01-21 13:55:46,2017-01-21 14:00:45,299,Sheridan Rd & Montrose Ave,Broadway & Sheridan Rd,Subscriber,Female,1995.0,Sheridan Rd & Montrose Ave to Broadway & Sheri...,1,Saturday,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...
299640,28732,2017-01-11 12:47:22,2017-01-11 12:55:12,470,Columbus Dr & Randolph St,Wacker Dr & Washington St,Subscriber,Male,1956.0,Columbus Dr & Randolph St to Wacker Dr & Washi...,1,Wednesday,12
299642,77439,2017-01-23 18:07:06,2017-01-23 18:21:31,865,Dearborn St & Adams St,Michigan Ave & 18th St,Subscriber,Male,1985.0,Dearborn St & Adams St to Michigan Ave & 18th St,1,Monday,18
299643,51875,2017-01-18 17:59:31,2017-01-18 18:02:21,170,Sheridan Rd & Irving Park Rd,Pine Grove Ave & Irving Park Rd,Subscriber,Female,1968.0,Sheridan Rd & Irving Park Rd to Pine Grove Ave...,1,Wednesday,17
299653,58261,2017-01-20 08:37:10,2017-01-20 08:41:35,265,Clinton St & Tilden St,Franklin St & Monroe St,Subscriber,Female,1993.0,Clinton St & Tilden St to Franklin St & Monroe St,1,Friday,8
299685,55719,2017-01-19 14:39:17,2017-01-19 14:53:50,873,Desplaines St & Kinzie St,Sedgwick St & Webster Ave,Subscriber,Male,1984.0,Desplaines St & Kinzie St to Sedgwick St & Web...,1,Thursday,14
299687,27889,2017-01-11 08:48:26,2017-01-11 09:01:57,811,Orleans St & Elm St (*),Stetson Ave & South Water St,Subscriber,Male,1991.0,Orleans St & Elm St (*) to Stetson Ave & South...,1,Wednesday,8
299722,90301,2017-01-26 08:12:38,2017-01-26 08:24:50,732,Wells St & Evergreen Ave,Franklin St & Lake St,Subscriber,Female,1984.0,Wells St & Evergreen Ave to Franklin St & Lake St,1,Thursday,8
299738,43287,2017-01-17 07:20:40,2017-01-17 07:25:29,289,Canal St & Madison St,Desplaines St & Kinzie St,Subscriber,Male,1985.0,Canal St & Madison St to Desplaines St & Kinzi...,1,Tuesday,7
299741,35872,2017-01-13 16:36:04,2017-01-13 16:58:25,1341,Kedzie Ave & Chicago Ave,Kimball Ave & Belmont Ave,Subscriber,Male,1975.0,Kedzie Ave & Chicago Ave to Kimball Ave & Belm...,1,Friday,16
299752,40281,2017-01-15 13:49:32,2017-01-15 13:54:19,287,Ravenswood Ave & Lawrence Ave,Ravenswood Ave & Berteau Ave,Subscriber,Male,1994.0,Ravenswood Ave & Lawrence Ave to Ravenswood Av...,1,Sunday,13
299764,51378,2017-01-18 17:17:31,2017-01-18 17:22:40,309,Dearborn Pkwy & Delaware Pl,Wells St & Evergreen Ave,Subscriber,Male,1978.0,Dearborn Pkwy & Delaware Pl to Wells St & Ever...,1,Wednesday,17
299777,58962,2017-01-20 11:45:57,2017-01-20 12:11:57,1560,Campbell Ave & Montrose Ave,Clark St & Armitage Ave,Subscriber,Male,1990.0,Campbell Ave & Montrose Ave to Clark St & Armi...,1,Friday,11
299778,54846,2017-01-19 10:06:06,2017-01-19 10:16:01,595,Clinton St & Jackson Blvd,Racine Ave & Congress Pkwy,Subscriber,Male,1987.0,Clinton St & Jackson Blvd to Racine Ave & Cong...,1,Thursday,10
299836,97277,2017-01-27 16:54:54,2017-01-27 17:00:43,349,Columbus Dr & Randolph St,Streeter Dr & Grand Ave,Subscriber,Male,1983.0,Columbus Dr & Randolph St to Streeter Dr & Gra...,1,Friday,16
299841,92858,2017-01-26 17:28:48,2017-01-26 17:53:23,1475,Wells St & Huron St,Wilton Ave & Diversey Pkwy,Subscriber,Female,1992.0,Wells St & Huron St to Wilton Ave & Diversey Pkwy,1,Thursday,17
299848,29927,2017-01-11 17:28:23,2017-01-11 17:45:57,1054,Halsted St & Blackhawk St (*),Clinton St & Jackson Blvd,Subscriber,Male,1987.0,Halsted St & Blackhawk St (*) to Clinton St & ...,1,Wednesday,17
299854,102458,2017-01-30 06:00:33,2017-01-30 06:06:29,356,Orleans St & Ohio St,Canal St & Madison St,Subscriber,Male,1993.0,Orleans St & Ohio St to Canal St & Madison St,1,Monday,6
299857,12909,2017-01-05 14:21:57,2017-01-05 15:05:23,2606,Michigan Ave & Pearson St,Wabash Ave & Wacker Pl,Customer,NaN,NaN,Michigan Ave & Pearson St to Wabash Ave & Wack...,1,Thursday,14
299859,8622,2017-01-04 07:31:47,2017-01-04 07:43:12,685,Clark St & Armitage Ave,Michigan Ave & Oak St,Subscriber,Female,1975.0,Clark St & Armitage Ave to Michigan Ave & Oak St,1,Wednesday,7
299878,106323,2017-01-30 19:08:04,2017-01-30 19:11:47,223,Ashland Ave & Division St,Damen Ave & Division St,Subscriber,Female,1983.0,Ashland Ave & Division St to Damen Ave & Divis...,1,Monday,19
299896,49190,2017-01-18 09:04:00,2017-01-18 09:10:55,415,Wells St & Polk St,Dearborn St & Monroe St,Subscriber,Female,1979.0,Wells St & Polk St to Dearborn St & Monroe St,1,Wednesday,9
299897,51411,2017-01-18 17:19:48,2017-01-18 17:31:28,700,Daley Center Plaza,Rush St & Hubbard St,Subscriber,Male,1991.0,Daley Center Plaza to Rush St & Hubbard St,1,Wednesday,17
299908,69745,2017-01-22 02:29:02,2017-01-22 02:33:26,264,State St & 33rd St,Rhodes Ave & 32nd St,Subscriber,Male,1993.0,State St & 33rd St to Rhodes Ave & 32nd St,1,Sunday,2
299920,25427,2017-01-10 17:08:28,2017-01-10 17:24:28,960,Clinton St & Jackson Blvd,Damen Ave & Madison St,Subscriber,Male,1988.0,Clinton St & Jackson Blvd to Damen Ave & Madis...,1,Tuesday,17
299946,69412,2017-01-21 21:29:40,2017-01-21 21:44:59,919,Dayton St & North Ave,Leavitt St & North Ave,Subscriber,Male,1986.0,Dayton St & North Ave to Leavitt St & North Ave,1,Saturday,21
299958,108699,2017-01-31 11:44:34,2017-01-31 11:52:17,463,Indiana Ave & Roosevelt Rd,Michigan Ave & Madison St,Subscriber,Female,1966.0,Indiana Ave & Roosevelt Rd to Michigan Ave & M...,1,Tuesday,11
299972,44015,2017-01-17 08:42:37,2017-01-17 08:53:20,643,Racine Ave & Wrightwood Ave,Clark St & Wellington Ave,Subscriber,Female,1978.0,Racine Ave & Wrightwood Ave to Clark St & Well...,1,Tuesday,8
299975,49643,2017-01-18 11:28:36,2017-01-18 11:31:14,158,Dayton St & North Ave,Sheffield Ave & Kingsbury St,Subscriber,Male,1958.0,Dayton St & North Ave to Sheffield Ave & Kings...,1,Wednesday,11
299993,68299,2017-01-21 17:16:02,2017-01-21 17:55:11,2349,Lake Shore Dr & Monroe St,McClurg Ct & Erie St,Customer,NaN,NaN,Lake Shore Dr & Monroe St to McClurg Ct & Erie St,1,Saturday,17
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0,Orleans St & Elm St (*) to Sheffield Ave & Web...,1,Saturday,13

In [19]:
def display_statistics(filtered_city_data):
    '''Displays city data statistics (trip, user) on the specified filters
    Args:
        (ob) filtered_city_data
    Returns:
        statistics
    '''
    #Print heading that specifies selected city, filters
    print('\n')
    print('-------------------------------------')    


    """Display statistics on the most popular stations and trip."""
    print('\nStation Info:')
    # display most commonly used start station & end station
    popular_start_station = filtered_city_data['start_station'].mode().to_string(index = False)
    popular_end_station = filtered_city_data['end_station'].mode().to_string(index = False)
    print('Popular Start Station: ', popular_start_station)
    print('Popular End Station: ', popular_end_station)

    # display most frequent combination of start station and end station trip
    popular_journey = filtered_city_data['journey'].mode().to_string(index = False)
    print('Popular Journey: ', popular_journey)

    """Displays statistics on the total and average trip duration."""
    print('\nOther Ridership Data:')
    # display total travel time
    total_travel_time = filtered_city_data['trip_duration'].sum()
    print('Total Time Travel:', total_travel_time)
    # display mean travel time
    mean_travel_time = filtered_city_data['trip_duration'].mean()
    print('Mean Time Travel:', mean_travel_time)

    """Displays statistics on bikeshare users."""
    print('\nUser Info:')
    #Display counts of user types
    user_types=filtered_city_data['user_type'].value_counts()
    print(user_types)
    print('\n')
    
    if city == 'chicago' or city == 'new york': 
        user_statistics(filtered_city_data)

In [20]:
def display_month_day_hour_statistics(filtered_city_data):
    '''Displays city data statistics (month, day, hour) on the specified filters.
       Example: Finds and prints the most popular day of week (Monday, Tuesday, etc.) for start time.
    Args:
        (ob) filtered_city_data
    Returns:
        statistics
    '''
    #Print heading that specifies selected city, filters
    print('\n')
    print('-------------------------------------')
    # display total number of trips for this city and filter
    #print('Total trips: ', (filtered_city_data['Start_Time'].count()))
    
    """Display statistics on the most frequent times of travel."""
    print('\nTrip Info:')
    # display the most common month
    popular_month = filtered_city_data['month'].mode()[0]
    print(popular_month, 'is the month with the highest ridership')

    # display the most common day of week
    popular_day = filtered_city_data['day_of_week'].mode()[0]
    print(popular_day, 'is the day of the week with the highest ridership')
        
    # display the most common hour (from 0 to 23)
    popular_hour = filtered_city_data['hour'].mode()[0]
    print(popular_hour, 'is the most common trip start hour')

In [29]:
def user_statistics(filtered_city_data):
    '''Displays city data statistics on the specified filters, for specified cities
    Args:
        (obj) filtered_city_data
    Returns:
        user statistics for chicago and nyc data only 
    '''
    #Display counts of gender
    #Display earliest, most recent, and most common year of birth
    #gender_count = city_data.groupby('Gender')['Gender'].count()
    gender_count = filtered_city_data['gender'].value_counts()
    print(gender_count)
    earliest = int(filtered_city_data['birth_year'].min(skipna=True))
    recent = int(filtered_city_data['birth_year'].max(skipna=True))
    mode = int(filtered_city_data['birth_year'].mode())
    print('The oldest birth year in the dataset is listed as {}.\nThe most recent birth year in the dataset is {}.'
          '\nThe most common birth year in the dataset is {}.'.format(earliest, recent, mode))
    print('\n')
 


    #finding min without including zeros with pandas and numpy (instead of skipna...if float was updated to int and na filled with zeros)
    #https://stackoverflow.com/questions/51481884/min-value-in-each-column-of-a-data-frame-excluding-zeros
    #https://stackoverflow.com/questions/51594489/find-minimum-without-zero-and-nan-in-pandas-dataframe
    #https://stackoverflow.com/questions/27733431/finding-an-average-but-ignoring-any-zero-in-a-list-python

a = filtered_city_data[filtered_city_data.gt(birth_year)].min(0)
print(a)

In [30]:
display_statistics(filtered_city_data)

-------------------------------------

Station Info:
Popular Start Station:  Clinton St & Washington Blvd
Popular End Station:  Clinton St & Washington Blvd
Popular Journey:  LaSalle St & Jackson Blvd to Canal St & Madiso...

Other Ridership Data:
Total Time Travel: 14826150
Mean Time Travel: 679.8179650602962

User Info:
Subscriber    20794
Customer       1015
Name: user_type, dtype: int64


Male      16745
Female     4059
Name: gender, dtype: int64
The oldest birth year in the dataset is listed as 1899.
The most recent birth year in the dataset is 2000.
The most common birth year in the dataset is 1989.

In [31]:
def display_data(filtered_city_data, row):
    """
    Asks the user if they would you like to view individual trip data and loads the raw data 
    Args:
        (obj) filtered city_data
        ilocs
    Returns:
        data in detail
    """
    display = input('\nWould you like to view individual trip data?'
                    ' Type \'yes\' or \'no\'.\n').lower()
    if display == 'yes' or display == 'y':
        print(filtered_city_data.iloc[row:row+5])
        row += 5
        return display_data(filtered_city_data, row)
    if display == 'no' or display == 'n':
        return
    else:
        print('That is not a valid answer. Please try again.')
        return display_data(filtered_city_data, row)
#https://stackoverflow.com/questions/43772362/how-to-print-a-specific-row-of-a-pandas-dataframe
#https://pandas.pydata.org/pandas-docs/stable/indexing.html

In [32]:
def main():
    """
    Loads analysis and data for the specified city and filters.
    """
    # 1) pick a city   
    city = get_city()
    print('Great! We\'ll use %s.' % city)
    
    # 2) load data
    raw_city_data = get_raw_city_data(city)
    
    #3) clean data
    clean_data(raw_city_data)
 
    #4) parse data
    parse_data(raw_city_data)
    
    #5) filter data
    filtered_city_data = filter_data(raw_city_data)
    
    #6) display statistics
    display_statistics(filtered_city_data)
    
    #7) display statistics on most popular month and day overall
    display_month_day_hour_statistics(filtered_city_data)
    
    #8) see data details
    see_data = display_data(filtered_city_data, row=76)

    #9) restart if you wish
    restart = input('\nWould you like to restart? Enter yes or no.\n')
    if restart.lower() == 'yes' or restart.lower() == 'y':
        main()
    elif restart.lower() == 'no' or restart.lower() == 'n':
        return
    else:
        print("\nThat is not a valid answer. Please try again.")
        return restart()

In [33]:
if __name__ == "__main__":
	main()

Hello! Let's explore some US bikeshare data!
Would you like to see data for Chicago, New York, or Washington?
chicago
Great! We'll use chicago.
Would you like to filter the data by month, day, or not at all? Type "none" for no time filter.
month
Great! Time period selected: month
Select a month, January - June
may
Great! We'll use may.


-------------------------------------

Station Info:
Popular Start Station:  Streeter Dr & Grand Ave
Popular End Station:  Streeter Dr & Grand Ave
Popular Journey:  Lake Shore Dr & Monroe St to Streeter Dr & Gra...

Other Ridership Data:
Total Time Travel: 65175363
Mean Time Travel: 976.3367987416673

User Info:
Subscriber    51020
Customer      15735
Name: user_type, dtype: int64


Male      38284
Female    12750
Name: gender, dtype: int64
The oldest birth year in the dataset is listed as 1899.
The most recent birth year in the dataset is 2016.
The most common birth year in the dataset is 1989.




-------------------------------------

Trip Info:
5 is the month with the highest ridership
Monday is the day of the week with the highest ridership
17 is the most common trip start hour

Would you like to view individual trip data? Type 'yes' or 'no'.
no

Would you like to restart? Enter yes or no.
no