In [35]:
import pandas as pd

In [36]:
data = pd.read_csv('chicago.csv')

In [37]:
# load data file into a dataframe
df = pd.DataFrame(data)

In [38]:
df.shape

(300000, 9)

In [39]:
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
5,1473887,2017-06-26 09:01:20,2017-06-26 09:11:06,586,Clinton St & Washington Blvd,Canal St & Taylor St,Subscriber,Male,1990.0
6,961916,2017-05-26 09:41:44,2017-05-26 09:46:25,281,Ashland Ave & Lake St,Wood St & Hubbard St,Subscriber,Female,1983.0
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN
8,606841,2017-04-20 16:08:51,2017-04-20 16:20:20,689,Sedgwick St & Huron St,Halsted St & Blackhawk St (*),Subscriber,Male,1984.0
9,135470,2017-02-06 18:00:47,2017-02-06 18:09:00,493,Stetson Ave & South Water St,Clinton St & Washington Blvd,Subscriber,Male,1979.0
10,175805,2017-02-15 07:09:55,2017-02-15 07:14:56,301,Broadway & Barry Ave,Wilton Ave & Belmont Ave,Subscriber,Female,1993.0
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0
13,1023296,2017-05-30 15:46:18,2017-05-30 15:52:12,354,Larrabee St & Kingsbury St,Clark St & Elm St,Subscriber,Male,1985.0
14,611000,2017-04-20 19:26:33,2017-04-20 19:35:08,515,Canal St & Madison St,Racine Ave (May St) & Fulton St,Subscriber,Male,1984.0
15,958716,2017-05-25 22:59:33,2017-05-25 23:07:19,466,Clark St & Armitage Ave,Sheffield Ave & Wrightwood Ave,Subscriber,Female,1985.0
16,718598,2017-05-03 13:20:38,2017-05-03 13:31:13,635,Ada St & Washington Blvd,Daley Center Plaza,Subscriber,Male,1967.0
17,931608,2017-05-23 08:08:25,2017-05-23 08:11:09,164,Damen Ave & Cortland St,Marshfield Ave & Cortland St,Subscriber,Male,1990.0
18,1469705,2017-06-25 21:26:30,2017-06-25 21:33:44,434,State St & Pearson St,Clark St & Schiller St,Subscriber,Male,1987.0
19,475456,2017-04-08 11:37:55,2017-04-08 11:51:55,840,Adler Planetarium,Burnham Harbor,Customer,NaN,NaN
20,849468,2017-05-16 06:36:17,2017-05-16 06:59:34,1397,Michigan Ave & Oak St,Halsted St & Wrightwood Ave,Subscriber,Female,1992.0
21,1420915,2017-06-23 12:21:01,2017-06-23 12:32:54,713,Rush St & Cedar St,Halsted St & Willow St,Subscriber,Male,1985.0
22,161454,2017-02-12 15:24:29,2017-02-12 15:38:43,854,Clarendon Ave & Leland Ave,Lake Shore Dr & Belmont Ave,Subscriber,Male,1980.0
23,1413814,2017-06-22 19:14:37,2017-06-22 19:29:54,917,Bissell St & Armitage Ave,Orleans St & Chestnut St (NEXT Apts),Subscriber,Female,1989.0
24,717248,2017-05-03 09:41:11,2017-05-03 09:49:10,479,Wabash Ave & Roosevelt Rd,Halsted St & Roosevelt Rd,Subscriber,Male,1992.0
25,1451810,2017-06-24 20:47:40,2017-06-24 21:13:39,1559,Rush St & Cedar St,Halsted St & Roscoe St,Subscriber,Male,1968.0
26,385517,2017-03-23 09:38:27,2017-03-23 09:42:41,254,Loomis St & Jackson Blvd,Peoria St & Jackson Blvd,Subscriber,Female,1985.0
27,1186035,2017-06-09 07:48:55,2017-06-09 07:52:30,215,Canal St & Madison St,Clark St & Randolph St,Subscriber,Male,1974.0
28,512692,2017-04-11 18:49:57,2017-04-11 18:59:36,579,Clinton St & Lake St,Mies van der Rohe Way & Chestnut St,Subscriber,Male,1989.0
29,261757,2017-02-25 19:01:19,2017-02-25 19:08:10,411,Halsted St & Dickens Ave,Halsted St & Wrightwood Ave,Subscriber,Male,1970.0
...,...,...,...,...,...,...,...,...,...
299970,1225370,2017-06-11 11:13:43,2017-06-11 11:21:48,485,Cornell Ave & Hyde Park Blvd,Ellis Ave & 55th St,Subscriber,Male,1990.0
299971,852513,2017-05-16 09:18:52,2017-05-16 09:38:02,1150,Dusable Harbor,Theater on the Lake,Subscriber,Male,1976.0
299972,44015,2017-01-17 08:42:37,2017-01-17 08:53:20,643,Racine Ave & Wrightwood Ave,Clark St & Wellington Ave,Subscriber,Female,1978.0
299973,199144,2017-02-18 12:30:15,2017-02-18 12:51:14,1259,Indiana Ave & Roosevelt Rd,Adler Planetarium,Customer,NaN,NaN
299974,568663,2017-04-17 07:16:38,2017-04-17 07:25:08,510,Halsted St & Maxwell St,Clark St & 9th St (AMLI),Subscriber,Male,2000.0
299975,49643,2017-01-18 11:28:36,2017-01-18 11:31:14,158,Dayton St & North Ave,Sheffield Ave & Kingsbury St,Subscriber,Male,1958.0
299976,722876,2017-05-03 18:45:24,2017-05-03 22:42:09,14205,Paulina Ave & North Ave,Bissell St & Armitage Ave,Subscriber,Male,1990.0
299977,685382,2017-04-27 17:30:16,2017-04-27 17:45:16,900,Clinton St & Jackson Blvd,Dearborn Pkwy & Delaware Pl,Subscriber,Male,1989.0
299978,1242195,2017-06-12 08:35:11,2017-06-12 08:44:20,549,St. Clair St & Erie St,Michigan Ave & Lake St,Subscriber,Female,1971.0
299979,441330,2017-04-02 12:42:10,2017-04-02 12:51:33,563,Bissell St & Armitage Ave,Clark St & Armitage Ave,Customer,NaN,NaN
299980,474051,2017-04-08 09:26:36,2017-04-08 09:43:50,1034,Theater on the Lake,Michigan Ave & Oak St,Subscriber,Female,1976.0
299981,1212375,2017-06-10 14:52:58,2017-06-10 15:29:52,2214,Franklin St & Jackson Blvd,Lake Shore Dr & North Blvd,Customer,NaN,NaN
299982,845283,2017-05-15 17:59:48,2017-05-15 18:05:29,341,Kingsbury St & Kinzie St,Clinton St & Jackson Blvd,Subscriber,Male,1993.0
299983,216083,2017-02-19 14:46:44,2017-02-19 14:58:48,724,Lakeview Ave & Fullerton Pkwy,Halsted St & Roscoe St,Customer,NaN,NaN
299984,454645,2017-04-04 17:16:49,2017-04-04 17:35:00,1091,Damen Ave & Wellington Ave,Clifton Ave & Lawrence Ave,Subscriber,Male,1987.0
299985,712351,2017-05-02 17:45:19,2017-05-02 17:52:00,401,Canal St & Monroe St (*),Milwaukee Ave & Grand Ave,Subscriber,Male,1991.0
299986,1464340,2017-06-25 16:17:53,2017-06-25 16:51:21,2008,Shedd Aquarium,LaSalle St & Washington St,Customer,NaN,NaN
299987,436160,2017-04-01 15:18:51,2017-04-01 15:34:55,964,Sheffield Ave & Wellington Ave,Larrabee St & Armitage Ave,Customer,NaN,NaN
299988,634638,2017-04-23 13:40:15,2017-04-23 14:00:33,1218,Lake Shore Dr & Monroe St,Adler Planetarium,Customer,NaN,NaN
299989,1005203,2017-05-29 13:45:56,2017-05-29 13:54:15,499,Green St & Madison St,Canal St & Taylor St,Customer,NaN,NaN
299990,1444489,2017-06-24 15:28:12,2017-06-24 16:08:11,2399,Rush St & Cedar St,Pine Grove Ave & Waveland Ave,Subscriber,Male,1989.0
299991,723217,2017-05-03 19:15:23,2017-05-03 19:29:32,849,Milwaukee Ave & Wabansia Ave,Ashland Ave & Chicago Ave,Subscriber,Female,1982.0
299992,1327248,2017-06-17 16:44:16,2017-06-17 16:50:57,401,Sheffield Ave & Willow St,Halsted St & Dickens Ave,Subscriber,Male,1955.0
299993,68299,2017-01-21 17:16:02,2017-01-21 17:55:11,2349,Lake Shore Dr & Monroe St,McClurg Ct & Erie St,Customer,NaN,NaN
299994,935129,2017-05-23 17:08:04,2017-05-23 17:11:37,213,Indiana Ave & 31st St,MLK Jr Dr & 29th St,Subscriber,Male,1988.0
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [40]:
# convert the Start Time column to datetime
df['Start Time'] = pd.to_datetime(df['Start Time'])

df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year
0,1423854,2017-06-23 15:09:32,2017-06-23 15:14:53,321,Wood St & Hubbard St,Damen Ave & Chicago Ave,Subscriber,Male,1992.0
1,955915,2017-05-25 18:19:03,2017-05-25 18:45:53,1610,Theater on the Lake,Sheffield Ave & Waveland Ave,Subscriber,Female,1992.0
2,9031,2017-01-04 08:27:49,2017-01-04 08:34:45,416,May St & Taylor St,Wood St & Taylor St,Subscriber,Male,1981.0
3,304487,2017-03-06 13:49:38,2017-03-06 13:55:28,350,Christiana Ave & Lawrence Ave,St. Louis Ave & Balmoral Ave,Subscriber,Male,1986.0
4,45207,2017-01-17 14:53:07,2017-01-17 15:02:01,534,Clark St & Randolph St,Desplaines St & Jackson Blvd,Subscriber,Male,1975.0
5,1473887,2017-06-26 09:01:20,2017-06-26 09:11:06,586,Clinton St & Washington Blvd,Canal St & Taylor St,Subscriber,Male,1990.0
6,961916,2017-05-26 09:41:44,2017-05-26 09:46:25,281,Ashland Ave & Lake St,Wood St & Hubbard St,Subscriber,Female,1983.0
7,65924,2017-01-21 14:28:38,2017-01-21 14:40:41,723,Larrabee St & Kingsbury St,Larrabee St & Armitage Ave,Customer,NaN,NaN
8,606841,2017-04-20 16:08:51,2017-04-20 16:20:20,689,Sedgwick St & Huron St,Halsted St & Blackhawk St (*),Subscriber,Male,1984.0
9,135470,2017-02-06 18:00:47,2017-02-06 18:09:00,493,Stetson Ave & South Water St,Clinton St & Washington Blvd,Subscriber,Male,1979.0
10,175805,2017-02-15 07:09:55,2017-02-15 07:14:56,301,Broadway & Barry Ave,Wilton Ave & Belmont Ave,Subscriber,Female,1993.0
11,71678,2017-01-22 15:15:45,2017-01-22 15:31:02,917,Southport Ave & Wellington Ave,Clark St & Schiller St,Subscriber,Male,1964.0
12,19061,2017-01-08 16:03:00,2017-01-08 16:07:37,277,Green St & Madison St,Ada St & Washington Blvd,Subscriber,Male,1961.0
13,1023296,2017-05-30 15:46:18,2017-05-30 15:52:12,354,Larrabee St & Kingsbury St,Clark St & Elm St,Subscriber,Male,1985.0
14,611000,2017-04-20 19:26:33,2017-04-20 19:35:08,515,Canal St & Madison St,Racine Ave (May St) & Fulton St,Subscriber,Male,1984.0
15,958716,2017-05-25 22:59:33,2017-05-25 23:07:19,466,Clark St & Armitage Ave,Sheffield Ave & Wrightwood Ave,Subscriber,Female,1985.0
16,718598,2017-05-03 13:20:38,2017-05-03 13:31:13,635,Ada St & Washington Blvd,Daley Center Plaza,Subscriber,Male,1967.0
17,931608,2017-05-23 08:08:25,2017-05-23 08:11:09,164,Damen Ave & Cortland St,Marshfield Ave & Cortland St,Subscriber,Male,1990.0
18,1469705,2017-06-25 21:26:30,2017-06-25 21:33:44,434,State St & Pearson St,Clark St & Schiller St,Subscriber,Male,1987.0
19,475456,2017-04-08 11:37:55,2017-04-08 11:51:55,840,Adler Planetarium,Burnham Harbor,Customer,NaN,NaN
20,849468,2017-05-16 06:36:17,2017-05-16 06:59:34,1397,Michigan Ave & Oak St,Halsted St & Wrightwood Ave,Subscriber,Female,1992.0
21,1420915,2017-06-23 12:21:01,2017-06-23 12:32:54,713,Rush St & Cedar St,Halsted St & Willow St,Subscriber,Male,1985.0
22,161454,2017-02-12 15:24:29,2017-02-12 15:38:43,854,Clarendon Ave & Leland Ave,Lake Shore Dr & Belmont Ave,Subscriber,Male,1980.0
23,1413814,2017-06-22 19:14:37,2017-06-22 19:29:54,917,Bissell St & Armitage Ave,Orleans St & Chestnut St (NEXT Apts),Subscriber,Female,1989.0
24,717248,2017-05-03 09:41:11,2017-05-03 09:49:10,479,Wabash Ave & Roosevelt Rd,Halsted St & Roosevelt Rd,Subscriber,Male,1992.0
25,1451810,2017-06-24 20:47:40,2017-06-24 21:13:39,1559,Rush St & Cedar St,Halsted St & Roscoe St,Subscriber,Male,1968.0
26,385517,2017-03-23 09:38:27,2017-03-23 09:42:41,254,Loomis St & Jackson Blvd,Peoria St & Jackson Blvd,Subscriber,Female,1985.0
27,1186035,2017-06-09 07:48:55,2017-06-09 07:52:30,215,Canal St & Madison St,Clark St & Randolph St,Subscriber,Male,1974.0
28,512692,2017-04-11 18:49:57,2017-04-11 18:59:36,579,Clinton St & Lake St,Mies van der Rohe Way & Chestnut St,Subscriber,Male,1989.0
29,261757,2017-02-25 19:01:19,2017-02-25 19:08:10,411,Halsted St & Dickens Ave,Halsted St & Wrightwood Ave,Subscriber,Male,1970.0
...,...,...,...,...,...,...,...,...,...
299970,1225370,2017-06-11 11:13:43,2017-06-11 11:21:48,485,Cornell Ave & Hyde Park Blvd,Ellis Ave & 55th St,Subscriber,Male,1990.0
299971,852513,2017-05-16 09:18:52,2017-05-16 09:38:02,1150,Dusable Harbor,Theater on the Lake,Subscriber,Male,1976.0
299972,44015,2017-01-17 08:42:37,2017-01-17 08:53:20,643,Racine Ave & Wrightwood Ave,Clark St & Wellington Ave,Subscriber,Female,1978.0
299973,199144,2017-02-18 12:30:15,2017-02-18 12:51:14,1259,Indiana Ave & Roosevelt Rd,Adler Planetarium,Customer,NaN,NaN
299974,568663,2017-04-17 07:16:38,2017-04-17 07:25:08,510,Halsted St & Maxwell St,Clark St & 9th St (AMLI),Subscriber,Male,2000.0
299975,49643,2017-01-18 11:28:36,2017-01-18 11:31:14,158,Dayton St & North Ave,Sheffield Ave & Kingsbury St,Subscriber,Male,1958.0
299976,722876,2017-05-03 18:45:24,2017-05-03 22:42:09,14205,Paulina Ave & North Ave,Bissell St & Armitage Ave,Subscriber,Male,1990.0
299977,685382,2017-04-27 17:30:16,2017-04-27 17:45:16,900,Clinton St & Jackson Blvd,Dearborn Pkwy & Delaware Pl,Subscriber,Male,1989.0
299978,1242195,2017-06-12 08:35:11,2017-06-12 08:44:20,549,St. Clair St & Erie St,Michigan Ave & Lake St,Subscriber,Female,1971.0
299979,441330,2017-04-02 12:42:10,2017-04-02 12:51:33,563,Bissell St & Armitage Ave,Clark St & Armitage Ave,Customer,NaN,NaN
299980,474051,2017-04-08 09:26:36,2017-04-08 09:43:50,1034,Theater on the Lake,Michigan Ave & Oak St,Subscriber,Female,1976.0
299981,1212375,2017-06-10 14:52:58,2017-06-10 15:29:52,2214,Franklin St & Jackson Blvd,Lake Shore Dr & North Blvd,Customer,NaN,NaN
299982,845283,2017-05-15 17:59:48,2017-05-15 18:05:29,341,Kingsbury St & Kinzie St,Clinton St & Jackson Blvd,Subscriber,Male,1993.0
299983,216083,2017-02-19 14:46:44,2017-02-19 14:58:48,724,Lakeview Ave & Fullerton Pkwy,Halsted St & Roscoe St,Customer,NaN,NaN
299984,454645,2017-04-04 17:16:49,2017-04-04 17:35:00,1091,Damen Ave & Wellington Ave,Clifton Ave & Lawrence Ave,Subscriber,Male,1987.0
299985,712351,2017-05-02 17:45:19,2017-05-02 17:52:00,401,Canal St & Monroe St (*),Milwaukee Ave & Grand Ave,Subscriber,Male,1991.0
299986,1464340,2017-06-25 16:17:53,2017-06-25 16:51:21,2008,Shedd Aquarium,LaSalle St & Washington St,Customer,NaN,NaN
299987,436160,2017-04-01 15:18:51,2017-04-01 15:34:55,964,Sheffield Ave & Wellington Ave,Larrabee St & Armitage Ave,Customer,NaN,NaN
299988,634638,2017-04-23 13:40:15,2017-04-23 14:00:33,1218,Lake Shore Dr & Monroe St,Adler Planetarium,Customer,NaN,NaN
299989,1005203,2017-05-29 13:45:56,2017-05-29 13:54:15,499,Green St & Madison St,Canal St & Taylor St,Customer,NaN,NaN
299990,1444489,2017-06-24 15:28:12,2017-06-24 16:08:11,2399,Rush St & Cedar St,Pine Grove Ave & Waveland Ave,Subscriber,Male,1989.0
299991,723217,2017-05-03 19:15:23,2017-05-03 19:29:32,849,Milwaukee Ave & Wabansia Ave,Ashland Ave & Chicago Ave,Subscriber,Female,1982.0
299992,1327248,2017-06-17 16:44:16,2017-06-17 16:50:57,401,Sheffield Ave & Willow St,Halsted St & Dickens Ave,Subscriber,Male,1955.0
299993,68299,2017-01-21 17:16:02,2017-01-21 17:55:11,2349,Lake Shore Dr & Monroe St,McClurg Ct & Erie St,Customer,NaN,NaN
299994,935129,2017-05-23 17:08:04,2017-05-23 17:11:37,213,Indiana Ave & 31st St,MLK Jr Dr & 29th St,Subscriber,Male,1988.0
299995,64825,2017-01-21 13:18:00,2017-01-21 13:27:50,590,Orleans St & Elm St (*),Sheffield Ave & Webster Ave,Subscriber,Male,1965.0
299996,695993,2017-04-28 19:32:19,2017-04-28 19:51:18,1139,Ashland Ave & Blackhawk St,Clark St & Elm St,Customer,NaN,NaN
299997,159685,2017-02-12 09:59:01,2017-02-12 10:21:49,1368,Ravenswood Ave & Lawrence Ave,Stockton Dr & Wrightwood Ave,Subscriber,Female,1988.0
299998,564681,2017-04-16 17:07:15,2017-04-16 17:19:00,705,Sheffield Ave & Willow St,Clark St & Chicago Ave,Customer,NaN,NaN
299999,1021247,2017-05-30 12:38:28,2017-05-30 12:55:36,1028,Wacker Dr & Washington St,Damen Ave & Division St,Subscriber,Male,1984.0

In [28]:
# extract hour from the Start Time column to create an hour column
df['Start Hour'] = df['Start Time'].dt.hour

In [29]:
df.shape

(300000, 10)

In [51]:
# find the most common hour (from 0 to 23)
popular_hour = df['Start Hour'].mode()[0]

KeyError: 'Start Hour'

In [52]:
print(popular_hour)

0    17
dtype: int64